
/* Importing all the fonts with weights */
@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaAltRegular.otf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaSemibold.otf);
    font-weight: 300;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaBold.otf);
    font-weight: 400;
}


.logo {
    margin-top: 50px;
    margin-left: 50px;
}

.logo > img {
    width: 50px;
}

body {
    background: white;
}

.page {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: table;
    height: 100vh;
    margin: auto;
    min-width: 375px;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}

.question-text {
    font-family: Proxima Nova;
    font-size: 36px;
    font-weight: 100;
}

.question-div {
    margin: 50px auto;
    text-align: center;
}

@media (max-width: 600px){
    .logo {
        margin-left: 5%;
    }

    .question-div {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }
}

input:focus {
    outline-width: 0;
}

input::placeholder {
    opacity: 0.3;
}

.text-answer {
    margin-top: 20px;
    width: 380px;
    height: 60px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 48px;
    font-weight: 100;
    font-family: Proxima Nova;
    background-color: white;
}

.number-answer {
    margin-top: 20px;
    width: 80px;
    height: 60px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 48px;
    font-weight: 100;
    font-family: Proxima Nova;
    background-color: white;
}

.next-img {
    width: 50px;
    margin-top: 20px;
}

.task {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 2px solid #C24343;
    background: #F4F4F4;
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.task-done {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 1px solid #C24343;
    background: #D55656;
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

.tasks-screen {
    margin-top: 50px;
    margin-left: 10%;
    max-width: 40%;
    float: left;
}

.tasks-deadline {
    margin-top: 50px;
    margin-left: 10%;
    max-width: 40%;
    float: left;
}

@media (max-width: 600px){
    .tasks-screen {
        margin-top: 50px;
        margin-left: 5%;
        max-width: 90%;
        margin-right: 5%;
        float: left;
    }

    .tasks-deadline {
        margin-top: 50px;
        margin-left: 5%;
        max-width: 90%;
        margin-right: 5%;
        float: left;
    }
}


.title {
    font-size: 24px;
    font-weight: 300;
    font-family: Proxima Nova;
}

.subtitle {
    font-size: 48px;
    font-weight: 100;
    font-family: Proxima Nova;
}